body {
    background: url("../images/crystals1.png");
    background-size: 100vw 100vh;
    box-sizing: border-box;
    color: darkblue;
    font-size: 18px;
    font-weight: bold;
}
.button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.button:active {
    transform: translateY(4px);
}
.content {
    background: floralwhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1%;
    opacity: .8;
    padding: 5px 10px;
    width: 43%;
}
.contentWrapper {
    clear: both;
}
.crystals {
    margin-bottom: 1%;
    text-align: center;
    width: 45%;
}
.crystals img {
    border-radius: 15px;
    height: 80px;
    width: 80px;
}
.messageBoard {
    font-size: 27px;
    line-height: 25px;
    text-align: center;
}
.panelHeader{
    background: lightyellow;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
    margin-right: 1%;
    opacity: unset;
    text-align: center;

}
.panelHeaderNarrow {
    float: left;
    width: 20%;
}
.panelHeaderWide {
    width: 43%;
}
.scoreboards {
    float: left;
    font-size: 27px;
    line-height: 25px;
    margin-right: 1%;
    text-align: center;
    width: 20%;
}
.title {
    background: slategray;
    color: silver;
    font-size: 48px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 15px navy;
    width: 100%;
}
.wrapper {
    margin: 2%;
}